@import "variables";
@import "functions";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

:host {
  display: block;
  position: fixed;
  top: px-to-rem(40px);
  z-index: 10;

  @include media-breakpoint-up(sm) {
    position: relative;
    top: auto;
    width: 100%;
  }
}

.cart {
  background-color: $white;
  border: 2px solid $black;
  border-radius: px-to-rem(3px);
  box-shadow: px-to-rem(0px) px-to-rem(5px) px-to-rem(10px) px-to-rem(3px)
    rgba(0, 0, 0, 0.2);
  left: 50%;
  position: fixed;
  top: 12%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 10;

  @include media-breakpoint-up(sm) {
    bottom: px-to-rem(-10px);
    left: auto;
    position: absolute;
    right: 0;
    top: auto;
    transform: translateY(100%);
    width: px-to-rem(350px);
  }

  &__list {
    list-style: none;
  }

  &__item {
    border-bottom: 1px solid $gray;
    font-size: px-to-rem(18px);

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__amount {
    appearance: none;
    background-color: $white;
    border: none;
    cursor: pointer;
    height: px-to-rem(28px);
    width: px-to-rem(28px);

    &--minus {
      background-image: url("/assets/svg/circle-with-minus.svg");
    }

    &--plus {
      background-image: url("/assets/svg/circle-with-plus.svg");
    }

    &--delete {
      background-image: url("/assets/svg/trash.svg");
    }
  }
}

.cart-switch {
  background-color: $black;
  background-image: url("/assets/svg/shopping-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: px-to-rem(40px);
  padding: px-to-rem(8px);
  position: relative;
  transition: all 0.2s ease-in-out;
  width: px-to-rem(40px);

  &:focus,
  &:hover,
  &--open {
    box-shadow: px-to-rem(0px) px-to-rem(5px) px-to-rem(10px) px-to-rem(3px)
      rgba(0, 0, 0, 0.2);
    outline: none;
    transform: scale(1.1);
  }

  &__count {
    background-color: $pink;
    border-radius: 50%;
    color: $white;
    font-size: px-to-rem(14px);
    height: px-to-rem(25px);
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(40%, -40%);
    width: px-to-rem(25px);
  }
}

.cart-empty {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.total-price {
  font-size: px-to-rem(18px);
  font-weight: $font-weight-bold;
  text-align: center;
}

.cta-btn {
  background-color: $black;
  border: none;
  border-radius: px-to-rem(8px);
  color: $white;
  cursor: pointer;
  font-family: $base-font-family;
  font-size: px-to-rem(16px);
  padding: px-to-rem(3px) px-to-rem(8px);
}
