<div class="d-flex align-items-center justify-content-end">
  <div class="mr-3 cart-empty" *ngIf="products.length === 0">
    No items in cart
  </div>
  <button
    (click)="cartVisible = !cartVisible"
    type="button"
    class="cart-switch flex-shrink-0"
    [class.cart-switch--open]="cartVisible"
  >
    <div
      *ngIf="products.length > 0"
      class="cart-switch__count d-flex align-items-center justify-content-center"
    >
      {{ productCount }}
    </div>
  </button>
</div>
<div class="cart p-3 mx-auto" *ngIf="cartVisible">
  <div class="d-flex justify-content-center">
    <button
      class="cta-btn d-flex align-self end"
      type="button"
      (click)="cartVisible = false"
    >
      Close cart
    </button>
  </div>
  <p *ngIf="products.length === 0">There are no products here. Add some!</p>
  <ul class="cart__list px-0 my-2">
    <li *ngFor="let product of products" class="cart__item py-2 d-flex">
      <div class="flex-grow-1">{{ product.name }} x {{ product.amount }}</div>
      <div class="cart_controls d-flex align-items-center">
        <div class="mr-4">
          <strong> = {{ product.amount * product.price }} €</strong>
        </div>
        <button
          type="button"
          class="cart__amount cart__amount--minus mr-1"
          (click)="onDecreaseAmount(product)"
        ></button>
        <button
          type="button"
          class="cart__amount cart__amount--plus mr-1"
          (click)="onIncreaseAmount(product)"
        ></button>
        <button
          type="button"
          class="cart__amount cart__amount--delete mr-1"
          (click)="removeProduct(product.id)"
        ></button>
      </div>
    </li>
  </ul>
  <p class="total-price" *ngIf="totalPrice > 0">
    Total price: {{ totalPrice }} €
  </p>
  <div class="d-flex justify-content-center">
    <button
      class="cta-btn"
      type="button"
      *ngIf="products.length > 0"
      (click)="emptyCart()"
    >
      Empty cart
    </button>
  </div>
</div>
