$base-font-size: 16px;
$base-font-family: "Playfair Display", serif;
$title-font-family: "Pacifico", cursive;

$font-weight-normal: 500;
$font-weight-bold: 700;

$black: rgb(0, 0, 0);
$pink: rgb(239, 74, 141);
$gray: rgb(235, 235, 235);
$white: rgb(255, 255, 255);
$green: rgb(0, 204, 0);
