@import "variables";
@import "functions";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.product {
  &__info-wrap {
    flex-grow: 2;
  }

  &__img {
    border: px-to-rem(3px) solid $pink;

    flex-shrink: 0;

    &--circle {
      border-radius: 50%;
      height: px-to-rem(125px);
      width: px-to-rem(125px);

      @include media-breakpoint-up(md) {
        height: px-to-rem(150px);
        width: px-to-rem(150px);
      }
    }

    &--rectangle {
      height: px-to-rem(125px);
      width: px-to-rem(125px);

      @include media-breakpoint-up(md) {
        height: px-to-rem(150px);
        width: px-to-rem(150px);
      }
    }

    &--triangle {
      border-color: transparent transparent $pink transparent;
      border-style: solid;
      border-width: px-to-rem(0px) px-to-rem(62px) px-to-rem(125px)
        px-to-rem(62px);
      height: 0;
      position: relative;
      width: 0;

      &::after {
        border-color: transparent transparent $white transparent;
        border-style: solid;
        border-width: px-to-rem(0px) px-to-rem(57px) px-to-rem(114px)
          px-to-rem(57px);
        content: "";
        height: 0;
        left: px-to-rem(-57px);
        position: absolute;
        top: px-to-rem(8px);
        width: 0;
      }

      @include media-breakpoint-up(md) {
        border-width: px-to-rem(0px) px-to-rem(75px) px-to-rem(125px)
          px-to-rem(75px);

        &::after {
          border-width: px-to-rem(0px) px-to-rem(69px) px-to-rem(115px)
            px-to-rem(69px);
          left: px-to-rem(-69px);
          top: px-to-rem(7px);
        }
      }
    }
  }

  &__name {
    font-size: px-to-rem(32px);
    font-style: italic;
    font-weight: $font-weight-bold;
    text-align: center;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }
  }

  &__desc {
    text-align: center;

    @include media-breakpoint-up(sm) {
      text-align: left;
    }
  }

  &__cta {
    flex-shrink: 0;
  }

  &__price {
    font-size: px-to-rem(32px);
    text-align: center;

    @include media-breakpoint-up(sm) {
      text-align: right;
    }
  }

  &__btn-wrap {
    position: relative;
  }

  &__btn {
    appearance: none;
    background-color: $white;
    border: px-to-rem(2px) solid $black;
    cursor: pointer;
    font-family: $base-font-family;
    font-size: px-to-rem(20px);
    min-width: px-to-rem(225px);
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    z-index: 2;

    &:focus,
    &:hover {
      background-color: $black;
      color: $white;
    }

    &--added {
      background-color: $pink;
      border: px-to-rem(2px) solid $green;
      color: $white;

      &:focus,
      &:hover {
        background-color: $pink;
        border: px-to-rem(2px) solid $pink;
        color: $white;
      }
    }
  }

  &__btn-success-msg {
    font-size: px-to-rem(14px);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out;
    width: 100%;
    z-index: 1;

    &--active {
      transform: translate(-50%, 100%);
    }
  }
}
