<div
  class="product d-flex flex-column flex-md-row align-items-center align-content-stretch mb-3"
>
  <div
    class="product__info-wrap d-flex flex-column flex-sm-row align-items-center align-self-sm-start"
  >
    <div
      class="product__img product__img--{{
        data.name | lowercase
      }} mr-0 mr-sm-5"
    ></div>
    <div class="mr-0 mr-md-5 mt-3 mt-md-0">
      <div class="product__name">{{ data.name }}</div>
      <div class="product__desc my-3">{{ data.description }}</div>
    </div>
  </div>
  <div
    class="product__cta d-flex flex-column align-self-sm-end align-self-md-center"
  >
    <div class="product__price my-1">{{ data.price }} €</div>
    <div class="product__btn-wrap">
      <button
        type="button"
        class="product__btn my-1 px-4 py-2"
        [class.product__btn--added]="productAdded"
        (click)="!productAdded ? onAddProduct(data) : null"
      >
        Add to cart
      </button>
      <div
        class="product__btn-success-msg p-1"
        [class.product__btn-success-msg--active]="productAdded"
      >
        Item added to cart!
      </div>
    </div>
  </div>
</div>
