@import "variables";
@import "functions";

$headerBorderHeight: px-to-rem(50px);

header {
  background-color: $gray;
  margin-bottom: $headerBorderHeight;
  position: relative;
}

header:after {
  background: linear-gradient(
      45deg,
      transparent 33.333%,
      $gray 33.333%,
      $gray 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg,
      $white 33.333%,
      $gray 33.333%,
      $gray 66.667%,
      transparent 66.667%
    );
  background-position: 0 (-$headerBorderHeight);
  background-size: $headerBorderHeight ($headerBorderHeight * 2);
  bottom: -$headerBorderHeight;
  content: "";
  display: block;
  height: $headerBorderHeight;
  left: 0;
  position: absolute;
  right: 0;
}

.title {
  font-family: $title-font-family;
  font-size: px-to-rem(60px);
  font-weight: normal;
  margin: 0;
  text-transform: lowercase;
}

.slogan {
  font-style: italic;
}
