<header class="container-fluid px-4">
  <div class="row">
    <div
      class="col-8 d-flex align-items-start align-items-md-center flex-column flex-md-row"
    >
      <div class="title mr-5">Whee</div>
      <div class="slogan">
        The most definitive shape store in the world
      </div>
    </div>
    <div
      class="col d-flex align-items-start align-items-sm-center justify-content-end"
    >
      <app-shopping-cart></app-shopping-cart>
    </div>
  </div>
</header>
<main class="container">
  <div class="row">
    <div class="col" *ngIf="products$ | async as products">
      <div *ngFor="let product of products" class="my-5">
        <app-product [data]="product"></app-product>
      </div>
    </div>
  </div>
</main>
