@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "variables";

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $font-weight-normal;
  margin: 0;
}
